<div class="layout layout--normal">
  <h1 class="h1">Kleinbord applicatie</h1>
  <form {{action "importInEditor" on="submit"}}>
    <div class="form__row">
      <label for="input-app-url" class="form__label">URL Gelinkt Notuleren</label>
      {{input value=urlGnApp class="input-field input-field--block"}}
    </div>
    <div class="form__row">
      <label for="input-app-url" class="form__label">Editor document container URI</label>
      {{input value=containerUri class="input-field input-field--block"}}
    </div>
    <div class="form__row">
      <label class="checkbox">
        {{input type="checkbox" checked=mockLogin class="checkbox__toggle"}}
        <span></span> Log in via mock login
      </label>
    </div>
    {{#if importEnabled}}
      <button type="submit" class="button" role="button">Importeer in Gelinkt Notuleren</button>
    {{else}}
      <button type="submit" class="button button--disabled" disabled role="button">Importeer in Gelinkt Notuleren</button>
    {{/if}}
  </form>
</div>

{{outlet}}
