<div class="lokaalbestuur-vlaanderen">
  <form>
    <div class="form__row">
      <label class="form__label">
        Source url
        <span class="form__required">*</span>
        {{input value=sourceUrl class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        URL of the version of Gelinkt Notuleren that you want to use:
        <span class="form__required">*</span>
        {{input value=urlGnApp class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        Editor document container's URI:
        <span class="form__required">*</span>
        {{input value=containerUri class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        Log in through mock-login:
        {{input type="checkbox" checked=mockLogin}}
      </label>
    </div>
    <button {{action "sendRoadSign"}} class="button" role="button">Send road sign to gelinkt notuleren</button>
  </form>
</div>

{{outlet}}
