<div class="layout layout--normal">
  <h1 class="h1">Kleinbord applicatie</h1>
  <form {{action "importInEditor" on="submit"}}>
    <div class="form__row">

      <label class="form__label">
        Source url
        <span class="form__required">*</span>
        {{input value=sourceUrl class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        URL of the version of Gelinkt Notuleren that you want to use:
        <span class="form__required">*</span>
        {{input value=urlGnApp class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        Editor document container's URI:
        {{input value=containerUri class="custom-form"}}
      </label>
    </div>
    <div class="form__row">
      <label class="checkbox">
        {{input type="checkbox" checked=mockLogin class="checkbox__toggle"}}
        <span></span> Log in via mock login
      </label>
    </div>
    {{#if importEnabled}}
      <button type="submit" class="button" role="button">Importeer in Gelinkt Notuleren</button>
    {{else}}
      <button type="submit" class="button button--disabled" disabled role="button">Importeer in Gelinkt Notuleren</button>
    {{/if}}
  </form>
</div>

{{outlet}}
