<div class="layout layout--normal">
  <h1 class="h1">Kleinbord applicatie</h1>
  <form {{action "importInEditor" on="submit"}}>
    <div class="form__row">
      <label class="form__label">
        Source URL
        <span class="form__required">*</span>
        {{input value=sourceUrl focus-out=(perform fetchSource)}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        URL van de Gelinkt Notuleren applicatie waarin u de snippet wil importeren
        <span class="form__required">*</span>
        {{input value=urlGnApp class="width-75"}}{{urlGnPath}}
      </label>
    </div>
    <div class="form__row">
      <label class="form__label">
        Editor document container URI (enkel nodig indien u een reeds geimporteerde snippet wil aanpassen in een document):
        {{input value=containerUri}}
      </label>
    </div>
    <div class="form__row">
      <label class="checkbox">
        {{input type="checkbox" checked=mockLogin class="checkbox__toggle"}}
        <span></span> Log in via mock login
      </label>
    </div>
    {{#if importEnabled}}
      <button type="submit" class="button" role="button">Importeer in Gelinkt Notuleren</button>
    {{else}}
      <button type="submit" class="button button--disabled" disabled role="button">Importeer in Gelinkt Notuleren</button>
    {{/if}}
  </form>
  <div class="u-spacer--large"></div>
  <h3 class="h3">Data om te importeren</h3>
  <div class="source">
    {{#if fetchSource.isRunning}}
      Loading...
    {{else}}
      {{snippet-preview source=source}}
    {{/if}}
  </div>
</div>

{{outlet}}
